@import url('./assets/fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mont';
  font-weight: 600;
}

.App {
  width: 100%;
  display: flex;
  position: relative;
}
