.filter {
  width: 350px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.filter>label{
  font-size: 20px;
  font-weight: 800;
  color: rgba(55, 55, 55, 1);
}

.filter>label:nth-of-type(2){
  margin-top: 30px;
}

.filter > button {
  margin-top: auto;
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(44, 88, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter > button > img {
  width: 22px;
  height: 22px;
}
