.filter {
  width: 400px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 36px 25px;
}

.filter > button {
  margin-top: auto;
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgba(94, 123, 199, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter > button > img {
  width: 22px;
  height: 22px;
}
